/.$CONECTIVIDAD CON PLCs y BD.drawio.bkp
/.$gmf_monitor_oracle.drawio.bkp
/.$PROGRAMAS.drawio.bkp
/cleanup.patch
/CONECTIVIDAD CON PLCs y BD.drawio
/DARWIO.pdf
/DARWIO2.pdf
/DARWIO3.pdf
/DxP_PROYECT_SERVER_ENTORNO.dxp
/gating-real-v2.patch
/gating-real.patch
/GMFs_de_Equipos
/gmf_monitor_oracle.drawio
/Historial_de_falla_Equipos
/inicicar_server.bat.txt
/LUT.py
/monitor.log
/PC10
/PROGRAMAS.drawio
/PROYECTO_SERVER_FALLAS_PC10.opp
/requirements.txt
/SERVER_PROYECT.pbix
/SERVER_PROYECT.sql
/SLog3_to_Rec709_Warm.cube
/speech.xlsx
/venv
/wsgi.py
/__pycache__